.main_logo{
  float: left;
}

.brand_name1{
  font-size:35px;
  font-weight:bold;
  font-family:monospace;
  color: #d04040;
}

.brand_name2{
  font-size: 35px;
  font-weight: bold;
  font-family: monospace;
  color: #d04040;
  margin-top: -49px;
}

.survey_button{
  margin-left: 51%;
}

.navbar{
  background-color: #212769;
  border-bottom:1px solid #e3e3e3;
}
.content1{
  font-family: 'Reem Kufi', sans-serif;
  font-size: 25px;
}

.content2{
  width:30%;
}

.content{
  /*padding-top: 30%;*/
  /*background-color: hsla(0, 100%, 70%, 0.3);*/
  /*margin-top: 2%;*/
}

.footer{
  /*background-color: #98FB98;*/
  margin-top: 2%;
}

.footer_content{
  margin-left: 25px;
}

.contact{
  float: right;
  color: white;
}

.footer_social_logo{
  float: right;
  margin-top: -48px;
  margin-right: 540px;
}

.tag_line{
  margin-left: 55%;
  margin-top: 4%;
  color: white;
  font-family: Blippo, fantasy;
}

.carousel-inner>.item>img {
  line-height: 1;
  margin-left: 17%;
}

.logo{
  padding: auto;
}

.sub_logo{
  margin-top: 8px;
  margin-left: -34px;
}

.feedback_radio{
  margin-left: 19px;
}

.order_option{
  width: 35%;
}
