<html lang="en" ng-app="bkd" ng-controller="add_product">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Baniye Ki Dukaan</title>

  <!-- Bootstrap core CSS -->

  <link href="css/bootstrap.min.css" rel="stylesheet">

  <link href="fonts/css/font-awesome.min.css" rel="stylesheet">
  <!-- <link href="css/animate.min.css" rel="stylesheet"> -->

  <!-- Custom styling plus plugins -->

  <!-- <link href="css/icheck/flat/green.css" rel="stylesheet"> -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">

  <script type="text/javascript" src="angular.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="config.js"></script>
  <script src="js/bootbox.js"></script>


  <script src="admin_demo.js"></script>
  <script src="app.js"></script>
  <script src="bower_components/angular-base64-upload/dist/angular-base64-upload.js"></script>


  <style>
  i.fa.fa-plus.tooltip_category {
    cursor: pointer;
    font-size: 21px;
    float: right;
    margin-left: 12px;
    color: #1a82c3;
  }
  i.fa.fa-pencil.tooltip_category {
    cursor: pointer;
    font-size: 16px;
    float: right;
    margin-left: 12px;
    color: #3eb928;
  }
  i.fa.fa-trash-o.tooltip_category {
    cursor: pointer;
    font-size: 16px ;
    float: right;
    margin-left: 12px;
    color: #ea0707;
  }
  .navbar-inverse {
    background-color: #44e2dc;
    border-color: #44e2dc;
    height: 83px;
  }
  span.glyphicon.glyphicon-chevron-right {
    margin-right: 10px;
    font-size: 16px;
    color: #61d261;
  }




  i.fa.fa-plus.tooltip_category.sub {
    font-size: 15px;
    color: #1a82c3;
  }

  i.fa.fa-pencil.tooltip_category.sub {
    font-size: 15px;
    color: #3eb928;
  }

  i.fa.fa-trash-o.tooltip_category.sub {
    font-size: 15px;
    color: #ea0707;
  }
  i.fa.fa-hand-o-right.sup {
    margin-right: 6px;
    color: #867e7e;
    font-size: 17px;
  }
  span.subcategory {
    font-size: 14px;
    cursor: pointer;
  }
  span.maincategory {
    cursor: pointer;
    color: #1a82c3;
    font-size: 18px;
    font-style: Bold;
  }

  button.btn.btn-primary.add {
    margin-right: 19px;
    float: right;
    margin-top: 16px;
  }
  .container.category
  {
    width: 100%;
    /*margin-top: 97px;*/
  }
  #nav ul.sub-nav {
    display: none;
  }

  #nav ul.visible {
    display: block;
  }
  #nav2 ul.sub-nav {
    display: none;
  }

  #nav2 ul.visible {
    display: block;
  }

  span.listcat {
    cursor: pointer;
    font-size: 18px;
  }

  span.listcat1 {
    cursor: pointer;
  }
  .modal-content{
    width: 160%;
    margin-left: -23%;
  }


  </style>


</head>
<body>

  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="col-xs-3">
          <img src="images/logo.png" class="img-circle main_logo" alt="Image Not Avail" width="80" height="80">
        </div>
        <div class="col-xs-9 logo">
          <h1 class="navbar-brand brand_name1" >Bani</h1><img class="sub_logo" src="images/sub_logo.png" width="60px"/><h1 class="navbar-brand brand_name2" >e Ki Dukaan</h1>
        </div>
      </div>
      <a class="contact" href="#">Contact no. 9058545537 </a>
      <div class="tag_line">Aapki apni dukaan, now in Kosi Kalan</div>

    </div>
  </nav>

  <div class="row">
    <ul class="nav nav-tabs nav-justified">
      <!-- <li ><a href="index.html">Home</a></li>
      <li ><a href="order.html">Order option</a></li>
      <li><a href="feature.html">Special feature</a></li>
      <li><a href="customer.html">Customer</a></li>
      <li><a href="feedback.html">Feedback</a></li>
      <li><a href="survey.html">Survey</a></li> -->
      <li class="active"><a href="add_product.html">Add Product</a></li>

    </ul>
  </div>
  <div class="row">
    <div class="col-md-4">
    </div>

    <div class="col-md-4">
      <div class="container category">
        <div class="">
          <button type="button" class="btn btn-primary add" data-toggle="modal" data-target="#myModal1" >Add Category</button>
        </div><h2 style="color: black;font-style: Time;">Category List</h2>

        <div id="category">

        </div>

      </div>
    </div>
    <div class="col-md-4">
    </div>

  </div>

  <!-- Modal content-->
  <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add new Category</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label for="usr">Category Name:</label>
              <input type="text" class="form-control" id="category_name">
            </div>



          </form>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary"  onclick="add_category('main_categoty');" style="
          width: 82px;">Add</button>
        </div>
      </div>

    </div>
  </div>



  <!-- Modal content-->
  <div class="modal fade" id="myModal4" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Category</h4>
        </div>
        <div class="modal-body">
          <form role="form" class="form-inline" ng-submit="editCategory()">
            <div class="form-group">
              <label for="usr">Category Name:</label>
              <input type="text" class="form-control" id="product_name" name="categoryName">
            </div>
            <br>
            <br>
          </div>
          <div class="modal-footer">
            <input type="submit" class="btn btn-primary"  style="width: 82px;" value="Edit">
          </div>
        </form>
      </div>

    </div>
  </div>




  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Sub Category</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label for="usr">Category Name:</label>
              <input type="text" class="form-control" id="sub_category_name">
            </div>



          </form>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary"  onclick="add_category('sub_categoty');" style="
          width: 82px;">Add</button>
        </div>
      </div>

    </div>
  </div>

  <!---end--->


  <!-- Modal content-->
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add new Product</h4>
        </div>
        <div class="modal-body">
          <form role="form" class="form-inline" ng-submit="addProduct()">
            <div class="form-group">
              <label for="usr">Product Name:</label>
              <input type="text" class="form-control" id="product_name" name="product_name">
            </div>
            <br>
            <br>

            <div ng-repeat="i in getNumber(number) track by $index">
              <div id="{{$index}}">
              <input class="form-control input-sm" id="inputsm" type="text" name="weight{{$index}}" ng-model="weight" placeholder="Wieght">
              <input class="form-control input-sm" id="inputsm" type="text" name="price{{$index}}" ng-model="price" placeholder="Price">
              <input class="form-control input-sm" id="inputsm" type="text" name="packing{{$index}}" ng-model="packing" placeholder="Packing">
              <input class="form-control input-sm" id="inputsm" type="text" name="piece{{$index}}" ng-model="piece" placeholder="Piece">
              <input class="form-control input-sm" id="inputsm" type="text" name="type{{$index}}" ng-model="type" placeholder="Type">
              <i title="Delete" ng-click="delete_row_add($index)" name="cross{{$index}}" class="fa fa-times tooltip_cross" aria-hidden="true"></i>
            </div>
            </div><br>
            <label class="btn btn-default btn-file">
              <input type='file' ng-model='productImage' base-sixty-four-input>
            </label>
            <br><br>
            <button type="button" class="btn btn-primary"  ng-click="increase_count()" style="width: 82px;">Add rows</button>
          </div>
          <div class="modal-footer">
            <input type="submit" class="btn btn-primary"  style="width: 82px;" value="Add">
          </div>
        </form>
      </div>

    </div>
  </div>





  <!-- Modal content-->
  <div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Product</h4>
        </div>
        <div class="modal-body">
          <form role="form" class="form-inline" ng-submit="editProduct()">
            <div class="form-group">
              <label for="usr">Product Name:</label>
              <input type="text" class="form-control" id="product_name" ng-model="product_name" name="editproduct_name">
            </div>
            <button type="button" class="btn btn-primary"  ng-click="getProduct()" style="width: 85px;">Get Details</button>
            <br>
            <br>

            <div ng-repeat="i in subProduct track by $index">
              <div id="{{$index}}">
              <input class="form-control input-sm" id="inputsm" type="text" name="editweight{{$index}}" ng-model="i.bsp_weight" value={i.bsp_weight} placeholder="Wieght">
              <input class="form-control input-sm" id="inputsm" type="text" name="editprice{{$index}}" ng-model="i.bsp_price" placeholder="Price">
              <input class="form-control input-sm" id="inputsm" type="text" name="editpacking{{$index}}" ng-model="i.bsp_packing" placeholder="Packing">
              <input class="form-control input-sm" id="inputsm" type="text" name="editpiece{{$index}}" ng-model="i.bsp_piece" placeholder="Piece">
              <input class="form-control input-sm" id="inputsm" type="text" name="edittype{{$index}}" ng-model="i.bsp_type" placeholder="Type">
              <i title="Delete" ng-click="delete_row_edit($index)" name="cross{{$index}}" class="fa fa-times tooltip_cross" aria-hidden="true"></i>
            </div>
          </div><br>
          <label class="btn btn-default btn-file">
            <input type='file' ng-model='productImage' base-sixty-four-input>
          </label>
          <br><br>
            <button type="button" class="btn btn-primary"  ng-click="increase_array_count()" style="width: 82px;">Add rows</button>
          </div>
          <div class="modal-footer">
            <input type="submit" class="btn btn-primary"  style="width: 82px;" value="Edit">
          </div>
        </form>
      </div>

    </div>
  </div>


</div>

<div align="center" id="loader"> <img style=" height: 47px; width: 50px;" src="loader.gif"></div>
</div>

<script src="js/bootstrap.min.js"></script>
<script src="admin_demo.js"></script>
<script>

getCategory();


</script>

</body>
</html>
