<!DOCTYPE html>
<html ng-app="bkd" ng-controller="Customer">
<head>
  <title>Baniye Ki Dukaan</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="angular.min.js"></script>
  <script src="js/bootbox.js"></script>
  <script src="bower_components/angular-base64-upload/dist/angular-base64-upload.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <link rel="stylesheet" href="css/style.css">  <style>
  </style>
</head>
<body>
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="col-xs-3">
          <img src="images/logo.png" class="img-circle main_logo" alt="Image Not Avail" width="80" height="80">
        </div>
        <div class="col-xs-9 logo">
          <h1 class="navbar-brand brand_name1" >Bani</h1><img class="sub_logo" src="images/sub_logo.png" width="60px"/><h1 class="navbar-brand brand_name2" >e Ki Dukaan</h1>
        </div>
      </div>
      <a class="contact" href="#">Contact no. 9058545537 </a>
      <div class="tag_line">Aapki apni dukaan, now in Kosi Kalan</div>

    </div>
  </nav>

  <div class="row">
    <ul class="nav nav-tabs nav-justified">
      <li ><a href="index.html">Home</a></li>
      <li ><a href="order.html">Order option</a></li>
      <li><a href="feature.html">Special feature</a></li>
      <li class="active"><a href="customer.html">Customer</a></li>
      <li><a href="feedback.html">Feedback</a></li>
      <li><a href="survey.html">Survey</a></li>
      <!-- <li ><a href="add_product.html">Add Product</a></li> -->
    </ul>
  </div>
  <!--nav ends here-->
  <!--body content comes here-->


  <div class="row content">
    <center>
      <h2>Customer details</h2>
    </center>
  </div>

  <div class="row">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-4">
      <form name="customerForm" ng-submit="addCustomer()">

        <div class="form-group">
          <label class="radio-inline"><input type="radio" value="Mr" ng-model="user.salutation">Mr.</label>
          <label class="radio-inline"><input type="radio" value="Miss" ng-model="user.salutation">Miss.</label>
          <label class="radio-inline"><input type="radio" value="Mrs" ng-model="user.salutation">Mrs.</label>
        </div>

        <div class="form-group">
          <label for="fname">First Name:</label>
          <input type="text" class="form-control" id="fname" ng-model="user.fname">
        </div>

        <div class="form-group">
          <label for="laname">Last Name:</label>
          <input type="text" class="form-control" id="lname" ng-model="user.lname">
        </div>

        <div class="form-group">
          <label for="gender">Gender:</label><br>
          <label class="radio-inline"><input type="radio" value="male" ng-model="user.gender">Male</label>
          <label class="radio-inline"><input type="radio" value="female" ng-model="user.gender">Female</label>
        </div>

        <div class="form-group">
          <label for="sel1">Select building type:</label>
          <select class="form-control" id="sel1" ng-model="user.buildingType">
            <option>Block</option>
            <option>Appartment</option>
            <option>Area</option>
            <option>House</option>
            <option>Flat</option>
            <option>Suit</option>
          </select>
        </div>

        <div class="form-group">
          <label for="address">{{user.buildingType }} Number:</label>
          <input type="text" class="form-control" id="flat" ng-model="user.number">
        </div>

        <!-- <div class="form-group">
          <label for="address">Area</label>
          <input type="text" class="form-control" id="area" ng-model="user.area">
        </div> -->

        <div class="form-group">
          <label for="address">Address:</label>
          <input type="text" class="form-control" id="address" ng-model="user.address">
        </div>

        <div class="form-group">
          <label for="landmark">Landmark:</label>
          <input type="text" class="form-control" id="landmark" ng-model="user.landmark">
        </div>

        <div class="form-group">
          <label for="district">District:</label>
          <input type="text" class="form-control" id="district" ng-model="user.district">
        </div>

        <div class="form-group">
          <label for="city">City:</label>
          <input type="text" class="form-control" id="city" ng-model="user.city">
        </div>

        <div class="form-group">
          <label for="state">State:</label>
          <input type="text" class="form-control" id="state" ng-model="user.state">
        </div>

        <div class="form-group">
          <label for="country">Country:</label>
          <input type="text" class="form-control" id="country" ng-model="user.country">
        </div>

        <div class="form-group">
          <label for="pincode">Pincode:</label>
          <input type="text" class="form-control" id="pincode" ng-model="user.pincode">
        </div>

        <div class="form-group">
          <label for="mobile">Mobile no.:</label>
          <input type="text" class="form-control" id="mobile" ng-model="user.mobile">
        </div>

        <div class="form-group">
          <label for="telephone">Telephone no.:</label>
          <input type="text" class="form-control" id="telephone" ng-model="user.telephone">
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" ng-model="user.email">
        </div>

        <div class="form-group">
          <label for="dob">Date of Birth:</label>
          <input type="date" class="form-control" id="dob" ng-model="user.dob">
        </div>

        <div class="form-group">
          <label for="anvr">Anniversary:</label>
          <input type="date" class="form-control" id="anvr" ng-model="user.anvr">
        </div>

        <button type="submit" class="btn btn-default">Submit</button>

        <button href="feedback.html" class="btn btn-success survey_button">Go to Feedback</button>
      </form>
    </div>
    <div class="col-xs-4">
    </div>

  </div>
</div>

<div class="row footer">
  <div class="footer_content well">
    Hardev Ganj,
    <br>Kosi Kalan (Mathura),India
    <br><strong>Pin code:</strong>274002
    <img src="images/footer_social_logo.jpg" class="img footer_social_logo" alt="Image Not Avail" width="200" height="80">
  </div>

</div>





</body>
</html>
