<!DOCTYPE html>
<html ng-app="bkd" ng-controller="Feedback">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <style>
  </style>
</head>
<body>
  <!-- <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <img src="images/logo.png" class="img-circle main_logo" alt="Image Not Avail" width="80" height="80">
        <a class="navbar-brand brand_name" href="#" >Baniye Ki Dukaan</a>
      </div>
      <a class="contact" href="#">Contact no. 9568997343 </a>
      <div class="tag_line">Aapki apni dukaan, now in Kosi Kalan</div>

    </div>
  </nav>

  <div class="row">
    <ul class="nav nav-tabs nav-justified">
      <li ><a href="home.html">Home</a></li>
      <li><a href="order.html">Order option</a></li>
      <li><a href="feature.html">Specail feature</a></li>
      <li  ><a href="customer.html">Customer</a></li>
      <li class="active"><a href="feedback.html">Feedback</a></li>
      <li><a href="survey.html">Survey</a></li>
    </ul>
  </div>
  <!--nav ends here-->
  <!--body content comes here--> -->


  <div class="row content">
    <center>
      <h2>Customer details</h2>
    </center>
  </div>

  <div class="row">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-4">
      <form name="feedbackForm" ng-submit="addFeedback()">
      <div class="form-group">
        <label for="anvr">1.How do you buy your daily needs?:</label>
        <div class="checkbox" >
          <label><input type="checkbox" value="Online" ng-model="medium.online">Online</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="Shop" ng-model="medium.shop">Shop</label>
        </div>
        <!-- <div class="checkbox disabled">
        <label><input type="checkbox" value="" disabled>Option 3</label>
      </div> -->
    </div>

    <div class="form-group">
      <label for="anvr">2.When you go for shopping?:</label>
      <div class="checkbox" >
        <label><input type="checkbox" value="daily" ng-model="schedule.daily">Daily</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" value="weekly" ng-model="schedule.weekly">Weekly</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" value="monthly" ng-model="schedule.monthly">Monthly</label>
      </div>
      <!-- <div class="checkbox disabled">
      <label><input type="checkbox" value="" disabled>Option 3</label>
    </div> -->
  </div>


  <div class="form-group">
    <label for="feedback">3.Feedback:</label><br>
    <label class="radio feedback_radio"><input type="radio" value="Impressive" ng-model="feedback">Impressive</label>
    <label class="radio feedback_radio"><input type="radio" value="Avereage" ng-model="feedback">Avereage</label>
    <label class="radio feedback_radio"><input type="radio" value="Will think about it" ng-model="feedback">Will think about</label>
    <label class="radio feedback_radio"><input type="radio" value="Unimpressive" ng-model="feedback">Unimpressive</label>
  </div>

  <div class="form-group">
    <label for="suggestion">4.Suggestion:</label>
    <textarea class="form-control" rows="5" id="suggestion" ng-model="suggestion"></textarea>
  </div>


  <button type="submit" class="btn btn-default">Submit</button>

</form>
</div>
<div class="col-xs-4">
</div>
</div>

<div class="row footer">
  <div class="footer_content well">
    5/51 Mahatama gandhi road
    <br>New delhi,India
    <br><strong>Pin code:</strong>274002
    <img src="images/footer_social_logo.jpg" class="img footer_social_logo" alt="Image Not Avail" width="200" height="80">
  </div>

</div>




</body>
</html>
